body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
}

.main-heading {
    text-align: center;
    margin-top: 20px;
    font-size: 36px;
    color: #333;
}

#todo-input, #todo-date {
    font-size: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

#todo-input {
    width: 300px;
}

#todo-date {
    margin-left: 10px;
}

button {
    margin-left: 10px;
    font-size: 20px;
    padding: 10px 20px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: darkgreen;
}

.grid-container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 60%;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e7e7e7;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.todo-item span {
    font-size: 18px;
}

.del-button {
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.del-button:hover {
    background-color: darkred;
}
